.node { /* styling for node labels */
  font: 300 8px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: sienna;
}

.node:hover { /* node label when being hovered over */
  fill: brown;
}

/* bold nodes connected to the node being hovered over */
.node:hover,
.node--source,
.node--target { 
  font-weight: 700;
  fill: brown;
}

.link { /* connecting lines */
  stroke: sienna;
  stroke-opacity: .9;
  stroke-width: .5px;
  fill: none; /* color between lines? No. Never do this. */
  pointer-events: auto;
}

.link:hover { /* link when being hovered over */
  stroke-opacity: 1;
  stroke-width: 2px;
  stroke: brown;
}

/* bold nodes connected to the link being hovered over */
.node--source,
.node--target { 
  fill: brown;
}


.link--source,
.link--target { /* links when node is hovered over */
  stroke-opacity: 1;
  stroke-width: 2px;
  stroke: brown;
}

.link--source { /* links when node is hovered over */
  stroke: red;
}

.link--target { /* links when node is hovered over */
  stroke: green;
}