svg {
    display: block;
    margin: 0px;
}

#info-box {
    width: 100%;
    height: 500px;
    margin: 10px;
    padding-left: 10px;
    padding-top: 5px;
    overflow: hidden;
    background-color: beige;
}

/*.both-songs {
    width: 100%;
}*/

.one-song {
    float: left;
    width: 50%;
}


.song-title {  /* FIXME: doesn't work; find out why */
    font-family: serif;
    color: brown;
}

#song--table{
    width: 50%;
    float:left;
    overflow: hidden;
}

td {
    font-size: .8em;
}