/* Nav Bar*/
.navbar {
    background-color: #e3ba9c;
}

.navbar-default .navbar-brand {
    color: #444
}

.navbar-toggle {
    background-color: #e3ba9c;
}

.navbar-default 
.navbar-toggle:focus, 
.navbar-default 
.navbar-toggle:hover {
    background-color: #d89f74;
}

.navbar-default
.navbar-nav>li>a {
    color: #666;
}

.navbar-brand {
    cursor: default;
    /*background-image: url("../img/LoyaltyOathIcon.jpg");*/
}

.nav {
    cursor: pointer;
    font-size: 1.25em;
}

#navbar .nav > .active > a {
    background-color: #d89f74;
}

/* body */
.row-fluid {
    padding: 10px;
    position: relative;
    color: #444;
}

p {
    font-size: 1.5em;
}

/*Chart Div*/
#chart {
    display: inline-block;
}

.chart-bar {
    width: 66%;
}

.chart-bundle {
    width: 50%;
}



/*Infobox Div*/
#info-box {
    display: inline-block;
    position: absolute;
    top: 0; 
    height: auto;
    margin: 10px;
    padding-left: 10px;
    padding-top: 5px;
    /*overflow: hidden;*/
    /*background-color: rgba(244, 228, 215,0.5);*/
}

#info-box.info-none {
    height: 500px;
}

.info-bar{
    width: 30%;
}

.info-bundle {
    width: 45%;
}


/* Div Within Infobox */
form {
    font-size: 1.5em;
}

.match {
    padding: 0;
    padding-bottom: 15px;
}

.one-song {
    float: left;
    width: 22%;
    padding-right: 10px;
}

.song-title {
    font-family: 'Crete Round', serif;
    color: brown;
}

#song--table {
    width: 50%;
    float:left;
    overflow: hidden;
}

.form-instructions {
font-size: .75em;
}

td {
    font-size: 1.25em;
    font-family: 'Crete Round', serif;
}

td.char{
    width: 70px;
    vertical-align: top;
}

body {
    /*background-color: #fff9e6;*/
    font-family: 'Crete Round', serif;
    background-size: 100% auto;
    background-image: url("../img/LetterToOtis2.jpg");
    background-position: left top;
}


/* for phones/tablets */
@media (max-width: 850px) {
    #chart {
        width: 100%;
        hieght: auto;
    }
    #info-box {
        width: 100%;
        position: static;
    }
    .one-song {
    width: 50%;
    }
}

