svg {
    display: block;
    margin: 0px;
}

#info-box {
    width: 100%;
    height: auto;
    margin: 10px;
    padding-left: 10px;
    padding-top: 5px;
    /*overflow: hidden;*/
    background-color: beige;
}

.match {
    padding: 0;
    padding-bottom: 15px;
}

.one-song {
    float: left;
    width: 50%;
    padding-right: 10px;
}


.song-title {
    font-family: serif;
    color: brown;
}

#song--table{
    width: 50%;
    float:left;
    overflow: hidden;
}

td {
    font-size: .8em;
}

td.char{
    width: 70px;
    vertical-align: top;
}

