<!doctype html>
<html>
<head>
  <title>Hamildata</title>
  <link rel="shortcut icon" href="static/img/favicon.ico">
  <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/bundle_chart.css">
  <link rel="stylesheet" type="text/css" href="static/css/bar_chart.css">
  <link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>

<body>
   <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Hamilton Data</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active" id="li-connections"><a class="active" id="song-connections">Song Connections</a></li>
              <li id="li-lyrics"><a id="search-lyrics">Search Lyrics</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>


  {% block content %} put your content here {% endblock %}

<script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
</body>
</html>