<!doctype html>
<html>
<head>
  <title>Hamildata</title>
  <link rel="shortcut icon" href="static/img/favicon.ico">
  <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/bundle_chart.css">
  <link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>

<body>
  Totally a Navbar

  <br>
  {% for message in get_flashed_messages() %}
    {{ message }}
  {% endfor %}
  <hr>

  {% block content %} put your content here {% endblock %}

</body>
</html>