{% extends 'base.html' %}


{% block content %}

    <h1>Hamilton Data</h1>

<div id='chart'></div>
<div id="info-box">
    <div class="container">
        <form id='searchbox'><label>
            Search for lyrics: 
            <input type="text" name="search" value="satisfied"></label>
            <input type="submit" id="mybutton" value="Search"><br>
        </form>
    </div>
    <div class="container" id="results">

    </div>
</div>

<script src="/static/js/jquery-1.12.4.js"></script>
<script src="/static/js/d3.v3.min.js"></script>
<script src="/static/js/BarChart.js"></script>

{% endblock %}
